@model ClinicaVeterinaria.Models.Dominio.Veterinario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Veterinario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nomeVeterinario" class="control-label"></label>
                <input asp-for="nomeVeterinario" class="form-control" />
                <span asp-validation-for="nomeVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpfVeterinario" class="control-label"></label>
                <input asp-for="cpfVeterinario" class="form-control" />
                <span asp-validation-for="cpfVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nascimentoVeterinario" class="control-label"></label>
                <input asp-for="nascimentoVeterinario" class="form-control" />
                <span asp-validation-for="nascimentoVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefoneVeterinario" class="control-label"></label>
                <input asp-for="telefoneVeterinario" class="form-control" />
                <span asp-validation-for="telefoneVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="enderecoVeterinario" class="control-label"></label>
                <input asp-for="enderecoVeterinario" class="form-control" />
                <span asp-validation-for="enderecoVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidadeVeterinario" class="control-label"></label>
                <input asp-for="cidadeVeterinario" class="form-control" />
                <span asp-validation-for="cidadeVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ufVeterinario" class="control-label"></label>
                <input asp-for="ufVeterinario" class="form-control" />
                <span asp-validation-for="ufVeterinario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
